@media all and (display-mode: fullscreen) {
    img.fullscreen {
        display:none;
    }  
}
  
img.fullscreen {
    position: absolute;
    top: 7%;
    right: 0;
    width:2%;
    z-index: 1000;
}