div.range {
    /*height:calc(100% - 5px);*/
    overflow-y:hidden;
    font-size: 6.5%;
    border: 5px solid #888;
    margin-bottom: -5px;
    margin-right: -5px;
    position: relative;
    display: flex;
    flex-direction: column;
    animation-name: highlightAssign;
    animation-duration: 2s;
    animation-iteration-count: 5;
    animation-direction: normal;
    animation-timing-function: steps(1);
}


@keyframes highlightAssign {
    0% {
        background-color: #FFA000;
    }
    50% {
        background-color: #FFFFFF;
    }
}

div.rangeNumber {
    width: 15%;
    background-color: #00F;
    font-size: 75%;
    color: white;
    text-align: center;
    position: absolute;
    top: 0;
    right: 0;
}

div.rangeName {
    width: 75%;
    margin-left: 5%;
    margin-top: 5%;
    font-size: 87.5%;
    height: 14%;
    overflow-x: hidden;
    position: relative;
}

div.currentShot {
    width: 100%;
    text-align: center;
    font-size: 87.5%;
    position:relative
}

img.shotArrow {
    position:absolute;
    right:3%;
    height:100%;
}

svg.drawRange {
    margin: auto;
    aspect-ratio: 1;
    max-height: calc(100% - 4px);
    max-width: calc(60% - 4px);
    display: block;
    border: 2px solid black;
}

table.seriesList {
    font-size: 70%;
    width: 60%;
    min-height:7%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

table.seriesList td {
    border-top: 2px solid black;
    border-right: 2px solid black;
    text-align: center;
    width:25%;
}

table.seriesList tr:first-child td {
    border-top: none;
}

table.seriesList tr td:last-child {
    border-right: none;
}

table.seriesList tr td.empty {
    border: none;
}

table.seriesList tr td:has(+ td.empty) {
    border-right: none;
}

div.total {
    font-weight: bolder;
    margin: auto;
    min-height:8%;
}